In [ ]:
#task 1
print( ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))[3][3])

400

In [ ]:
#task 2
x= (10, 20, 24, 25, 26, 35, 70)
l=len(x)
x=x[2:len(x)-2]
print(x)

(24, 25, 26)

In [ ]:
#task 3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(f"Size of the tuple is: {len(book_info)}")
for i in book_info:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#task 4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
) 
for i in book_info:
  category,name,votes=i
  print(f"{name} won the '{category}' with {votes} votes")

The Silent Patient won the 'Best Mystery & Thriller' with 68821 votes
The Institute won the 'Best Horror' with 75717 votes
The five won the 'Best History & Biography' with 31783 votes
The Testaments won the 'Best Fiction' with 98291 votes

In [ ]:
#task 5
x= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
i=int(input())
count=0
for j in x:
  if j==i:
    count+=1
print(f"{i} appears {count} times in the tuple")

8
8 appears 4 times in the tuple

In [ ]:
#task 6
x=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
a=()
l=len(x)
for i in range (-1,-(l+1),-1):
  a+=x[i],
print(a)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#task 7
d1={'Harry':15, 'Draco':8, 'Nevil':19}
d2={'Ginie':18, 'Luna': 14}
d={}
for key,values in d1.items():
  d[key]=values
for key, values in d2.items():
  d[key]=values
print(d)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#task 8
dit={}
sum=0
counter=0
while True:
  key=input()
  if key=="End":
    break
  val=int(input())
  dit[key]=val
for i,j in dit.items():
  sum+=j
  counter+=1
print(f"Average is {int(sum/counter)}.")

jon
100
arib
100
ayan
100
End
Average is 100.

In [ ]:
#task 9
x=int(input())
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
dit={}
for key,value in exam_marks.items():
  if value >= x:
    dit[key]=value
print(dit)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#task 10
dit={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max=0
j=0
for key, value in dit.items():
  if value>max:
    max=value
    j=key
    #continue
print(f"The highest selling book genre is {j} and the number of books sold are {max}.")

The highest selling book genre is mystery and the number of books sold are 15.

In [ ]:
#task 11
x=input()
dit={}
for i in x:
  if i==" ":
    continue
  count=0
  for j in x:
    if i==j:
      count+=1
  dit[i]=count
print(dit)

python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#task 12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for key,values in dict_1.items():
  for i in values:
    count+=1
print(count)

9

In [ ]:
#task 13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dic={}
for i,j in list_1:
    dic[i]=[]
for i,j in list_1:
    dic[i].append(j)
print(dic)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
t=[(11, 22), (33, 55), (55, 77), (11, 44)]
l=[]
for i in t:
  a,b=i
  l.append(a*b)
print(l)

[242, 1815, 4235, 484]

In [ ]:
x= input()
t= ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
for i in t:
  i[-1]=x
print(t)

abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

In [ ]:
#task 17
d={'c1':'Red','c2':'Green','c3':None, 'd4':'Blue', 'a5':None}
n={}
for i,j in d.items():
  if d[i]==None:
    continue
  else:
    n[i]=j
print(n)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [ ]:
#task 18
a,b=(input().split(", "))
d={'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
d1={}
for i,j in d.items():
  if j in range (int(a),int(b)):
    d1[i]=j
print(d1)

20, 30
{}

In [ ]:
#task 19
t=[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
d={}
for i,j in t:
  if j not in d:
    d[j]=[]
  d[j].append((i,j))
print(d)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

In [ ]:
#task 20
x='I love Programming. Python is love.'
y=""
c=['-', '=', '+', '*', '%']
a={}
for i in x:
  if i==".":
    continue
  else:
    y+=i
z=y.split(" ")
print(f"Words in the given String: {z}")
l=[]
for i in z:
  if i not in l:
    l.append(i)
for i in l:
  s=0
  for j in i:
    s+=ord(j)
  k=int(s%len(c))
  if c[k] not in a:
    a[c[k]]=[]
  a[c[k]].append(i)
print(a)

Words in the given String: ['I', 'love', 'Programming', 'Python', 'is', 'love']
{'*': ['I', 'love'], '-': ['Programming', 'is'], '+': ['Python']}