In [ ]:
#task1
def even_checker(a):
  if a%2==0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(5)

Odd!!

In [ ]:
#task 2
def fib(a):
  i=0
  j=1
  sum=0
  while sum<=a:
    print (sum, end=" ")
    i=j
    j=sum
    sum=i+j
fib(10)

0 1 1 2 3 5 8

In [ ]:
#task 3
def foo_moo(a):
  if a%2==0 and a%3==0:
    print("FooMoo")
  elif a%3==0:
    print("Moo")
  elif a%2==0:
    print("Foo")
  else:
    print("Boo")
foo_moo(6)

FooMoo

In [ ]:
#task 4
def function_name(a):
  cap=0
  sml=0
  for i in a:
    if 97<=ord(i)<=122:
      sml+=1
    elif 65<=ord(i)<=90:
      cap+=1
  print(f"No. of Uppercase characters: {cap}\nNo. of Lowercase Characters: {sml}")
function_name('HaRRy PotteR')

No. of Uppercase characters: 5
No. of Lowercase Characters: 6

In [ ]:
#task 5
x=int(input("Age: "))
y=int(input("Salary: "))
z=input("Current Job:").lower()
def calculate_tax(age,salary,job):
  if age<18 or job=="president" or salary<10000:
    tax=0
  elif 10000<salary<20000:
    tax=salary*.05
  elif salary>20000:
    tax=salary*.1
  return(tax)
print(calculate_tax(x,y,z))

Age: 20
Salary: 18000
Current Job:assistant manager
900.0

In [ ]:
#task 6
def cal(a):
  year=a//365
  month=(a%365)//30
  day= (a%365)%30
  print(f"{year} years, {month} months and {day} days")
cal(int(input()))

2250
6 years, 2 months and 0 days

In [ ]:
#task 7
def show_palindrome(a):
  z=""
  for i in range (1,a):
    z+=str(i)
  for i in range (a,0,-1):
    z+=str(i)
  return(z)
print(show_palindrome(int(input())))

5
123454321

In [ ]:
#task 8
def show_palindrome(a):
  z=""
  for i in range (1,a):
    z+=str(i)+" "
  for i in range (a,0,-1):
    z+=str(i)+" "
  return(z)
x=int(input())
z=x
y=""
for i in range(1,x+1):
    y=""
    for spc in range((x-i)*2):
        y+=" "
    y+=show_palindrome(i)
    print(y)

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#task 9
def area_circumference_generator(r):
  import math
  area=math.pi*pow(r,2)
  cir=2*math.pi*r
  return area,cir
x= area_circumference_generator(1)
print(x)
print(f"Area of the circle is {x[0]} and circumference is {x[1]}")

(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#task 10
def make_square(A):
  a,b=A
  dit={}
  for i in range(a,b+1):
    dit[i]=i**2
  return(dit)
print(make_square((5,9)))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#task11
def rem_duplicate(a):
  lst=[]
  for i in a:
    if i not in lst:
      lst.append(i)
  return(tuple(lst))
print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#task 12
def function_name(a):
  lst=[]
  for i in a:
    if lst.count(i)<2:
      lst.append(i)
  rvm=len(a)-len(lst)
  print(f"Removed: {rvm}")
  return(lst)
print(function_name(([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])))

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#task 13

In [ ]:
#task 14
setn=input()
posi=int(input())
def foo(s,p):
  x=s[0]
  for i in range (1,len(s)):
    if i%p!=0:
      x+=s[i]
  for i in range (1,len(s)):
    if i%p==0:
      x+=s[i]
  return(x)
print(foo(setn,posi))

I love programming.
3
I lveprgrmmngo oai.

In [ ]:
#task 15
def food (a,b):
  dit={"Rice":105,"Potato":20, "Chicken": 250, "Beef": 510, "Oil":85}
  sum=0
  for i in a:
    sum+=dit[i]
  if b=="Dhanmondi":
    sum+=30
  else:
    sum+=70
  return(sum)
print(food(["Rice", "Beef", "Rice"], "Mohakhali"))

790

In [ ]:
#task 16
#def spm(a):
m=1234
n=m

In [ ]:
#task 18
def sum(a,b,c,d):
  s=0
  for i in range (a,b):
    if (i%c==0 and i%d!=0) or (i%c!=0 and i%d==0):
      s+=i
  return s
x=int(input())
y=int(input())
p=int(input())
q=int(input())
print(sum(x,y,p,q))

10
40
4
7
210

In [ ]:
#task 19
x=input().lower()
def fun(a):
  flag=0
  l=["a","b","c","d","e","f","g","h","i","j"]
  for i in l:
    if i in a:
      continue
    else:
      flag=1
      break
  r=0
  if flag==0:
    r=5
  elif flag==1:
    r=6
  return (r)
for i in range(0,fun(x)):
  print("PSG will win the Champions League this season")

ABBCDEFEFGHI
abbcdefefghi
6
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season

In [ ]:
#task 20