In [1]:
#task 1
list=[]
count=0
while count<5:
  x=input()
  list.append(int(x))
  count+=1
print(list)

3
4
0
0
3
[3, 4, 0, 0, 3]

In [ ]:
#task 2
lst=(input().split(", "))
new_list=[]
l=len(lst)
if l>3:
  for i in range (2,l-2):
    new_list.append(int(lst[i]))
  print(new_list)
else:
  print("Not possible")

10, 20, 24
Not possible

In [ ]:
#task 3
count=0
lst=[]
while count<5:
  x=int(input())
  lst.append(x)
  count+=1
print("Printing values from the list in reverse order:")
for i in range(len(lst)-1,-1,-1):
  print(lst[i])

5
-5
100
1
0
[5, -5, 100, 1, 0]
Printing values from the list in reverse order:
0
1
100
-5
5

In [ ]:
#task 4
lst=[1, 2, 3, 4, 5, 6, 7]
new_list=[]
for i in lst: #i=2
  i=i**2
  new_list.append(i)
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#task 5
lst=["hey", "there", "", "whats", "", "up", "", "?"]
new_list=[]
for i in lst:
  if i=="":
    continue
  else:
    new_list.append(i)
print(f'Original List: {lst}\nModified List: {new_list}')

Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified List: ['hey', 'there', "what's", 'up', '?']

In [ ]:
#task 6
lst=input().split(",")
lst1=[]
max=None
max_idx=0
for i in lst:
  lst1.append(int(i))
for i in range (len(lst1)):
  if max==None:
    max=i
  elif lst1[i]>max:
    max=lst1[i]
    max_idx=i
print(f'My list: {lst1}\nLargest number in the list is {max} which was found at index {max_idx}.')

0,7,13,14,15,-11
My list: [0, 7, 13, 14, 15, -11]
Largest number in the list is 15 which was found at index 4.

In [ ]:
#task 7
List_one=[1, 3, 5, 7, 9, 10]
List_two=[2, 4, 6, 8]
List_one.pop((len(List_one)-1))
List_one.extend(List_two)
print(List_one)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#task 8
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l2= [10, 11, 12, -13, -14, -15, -16]
l=[]
for i in l1:
  if i%2==0:
    l.append(i)
for i in l2:
  if i%2==0:
    l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#task 9
lst=input()
#lst+=" "
l=[]
l1=[]
temp=""
for i in lst:
  if i==" ":
    l.append(int(temp))
    temp=""
  else:
    temp+=i
l.append(int(temp))
for i in l:
  if i%2!=0:
    l1.append(i)
print(f"Original list: {l}\nModified list: {l1}")

7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

In [ ]:
#task 10
lst=input().split(", ")
l1=[]
l2=[]
for i in lst:
  i=int(i)
  l2.append(i)
  if i not in l1:
    l1.append(int(i))
print(f"Input list: {l2}\nModified list:{l1}")

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#task 11
l1= [1, 4, 3, 2, 5]
l2= [8, 7, 6, 9]
flag=0
for i in l1:
  if i in l2:
    flag=1
    break
if flag==0:
  print("Flase")
else:
  print("True")

Flase

In [ ]:
#task 16
lst=input().split(", ")
l=[]
max_1=0
max_2=0
count=0
for i in lst:
  l.append(int(i))
for i in l:
  if max_1==max_2:
    max_1=i
  elif i>max_1:
    max_2=max_1
    max_1=i
  #elif i>max_2:
    #max_2=i
for j in l:
  if j==max_2:
    break
  count+=1
print(f"My list: {l}\nSecond largest number in the list is {max_2} which was found at index {count}")

In [ ]:
#task 17
lst=input().split(", ")
l=[]
max=None
min=None
for i in lst:
  l.append(int(i))
for j in l:
  if max is None:
   max=j
   min=j
  elif j>max:
    max=j
  elif j<min:
    min=j
max_idx=0
min_idx=0
for k in l:
  if k==max:
    break
  max_idx+=1
for k in l:
  if k==min:
    break
  min_idx+=1
print(f"Smallest number in the list is {min} which was found at index {min_idx}\nLargest number in the list is {max} which was found at index {max_idx}")

7, 13, -5, 10, 6
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

In [ ]:
#task 18
lst1=input().split(", ")
lst2=input().split(", ")
l=[]
for i in lst1:
  if i in lst2 and i not in l:
    l.append(i)
print(l)

A, B, C, D
C, E, F, B
['B', 'C']

In [ ]:
#task 19
list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
l=[]
for i in list_one:
  if i not in l:
    l.append(i)
for i in list_two:
  if i not in l:
    l.append(i)
print(l)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [5]:
#task 20
y=input().strip()
print(f"Original data: {y}")
x=y
nlst=[]
if x[0]=="[":
  x=x[1:]
if x[-1]=="]":
  x=x[:len(x)-1]
print(f"After removing square brackets: {x}")
x.split(",")
temp=""
for i in x:
  if i==",":
    continue
  elif i==" ":
      temp+=i
      continue
  else:
      temp+=i
      nlst.append(str(temp))
      temp=""
print(f"Numbers in string format with extra white spaces: {nlst}")

      [1,   2   ,         3,   50,   4]
Original data: [1,   2   ,         3,   50,   4]
After removing square brackets: 1,   2   ,         3,   50,   4
Numbers in string format with extra white spaces: ['1', '   2', '            3', '   5', '0', '   4']
[1, 2, 3, 5, 0, 4]